@import "_variables";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px #00000029;

  & .container {
    margin: auto;
  }

  .nav__page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo {
      font-size: 36px;
    }

    .logo {
      color: $color-primary;
      font-family: $primary-font;
      font-weight: lighter;
      margin-top: 16px;
      margin-bottom: 17px;
    }

    .nav__links {
      display: flex;
      font-size: 11px;
      font-family: $primary-font;
      text-transform: uppercase;
      color: #A5A5A5;

      .nav__link {
        padding: 28px 18px 22px;

        &:last-of-type {
          padding-right: 0;
        }

        & a {
          padding: 0 26px;
        }

        &:hover {
          cursor: pointer;
          color: $color-black;
          border-bottom: 4px solid $color-primary;
        }
      }
    }
  }
}

.menu__btn {
  display: none;
  position: absolute;
  top: -999px;
  left: -999px;
  opacity: 0;
}

.menu__toggle {
  display: none;
  margin-left: auto;
  margin-right: 5px;

  span {
    display: block;
    width: 35px;
    height: 2px;
    background-color: $color-primary;
    margin-bottom: 5px;
    padding: 2px;
  }
}

@media (width < 800px) {
  .nav__link {
    position: absolute;
    top: 95px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    display: none;
  }
  .menu__toggle {
    display: block;
  }
  .menu__btn:checked {

  }
}

