@import "_variables";
@import "_benefits";
@import "_contact";
@import "_footer";
@import "_navigation";
@import "_opening";
@import "_pricing";
@import "_statisctics";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1352px;
  justify-content: center;
}